.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.name {
  font-weight: bold;
}

.online {
  color: green;
  font-weight: bold;
}

.offline {
  color: red;
  font-weight: bold;
}
