.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: #333;
  color: white;
}

th {
  padding: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.type {
  color: #444;
  font-weight: 600;
}

.amount {
  color: #0088ff;
}

.currency {
  color: #009900;
}
